@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TechMarket.Data.User>

<h1>Accounts</h1>


<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Address</th>
        <th>Birthdate</th>
        <th>Password</th>
        <th>Contact Number</th>
        <th>Show Details</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
           
            <td>@user.FirstName @user.LastName</td>
            <td>@user.Email</td>
           
           
            <td>@user.Birthday</td>
          
            <td>
                <center><a class="btn btn-primary" asp-action="ShowDetails" asp-route-id="">Show Details</a></center>
            </td>
            <td>
                <center><a class="btn btn-primary" asp-action="EditAccount" asp-route-id="">Edit</a></center>
            </td>
            <td>
                <center><a class="btn btn-danger" asp-action="DeleteAccount" asp-route-id="">Delete</a></center>
            </td>
        </tr>
    }
</table>
