



     <br />
     
     <br />
     
     <br />
<br />


<br />

        <h1>Username:@Context.Session.GetString("UserName")</h1>
        <h4>Address:@Context.Session.GetString("Address")</h4>
        <h4>Email:@Context.Session.GetString("Email")</h4> <br>
        <a asp-action="EditAccount">Edit Profile</a>

   
    


 


