@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

h1 {
    font-weight: bolder;
    margin-bottom: 50px;
}

p.single-line {
    white-space: nowrap; 
}

h5,
label {
    font-weight: bold;
    margin: 20px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FF;
    width: 80%;
    max-width: 700px;
    height: 550px;
    border-radius: 20px;
    overflow: auto;
    margin: 50px auto; 
    padding: 20px; 
}

form,
h5,
p,
ul {
    width: 80%;
    margin: auto;
}

p {
    margin: auto 10px;
    font-size: 12px;
    white-space: nowrap;
}

.login-center button {
    margin: 20px;
    width: 20vh;
}

input,
label {
    margin: 20px;
    margin: 3px auto;
}

h5 {
    margin-top: 20px;
}
