@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}
.main {
    max-width: 700px;
    border-radius: 20px;
    overflow: auto;
    margin: 50px auto;
    padding: 20px;  
}
svg {
    margin-left: 250px;
    margin-bottom: 20px;
    margin-top: 60px;
}
.main h1{
    text-align: center;
    margin-top: 10px;
}
a{
    margin-left: 230px;
    margin-top: 20px;
}