<head>
    <!--css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
</head>
<style>
     .image {
         background: rgb(241, 241, 241);
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .img-thumbnail.img-fluid {
         object-fit: cover;
         height: 100px; /* Adjust the height as needed */
     }
</style>



<br />

<link rel="stylesheet" href="~/css/product.css">
<h2>Uploaded Products</h2>
<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    <img src="~/@product.ProdImageURL" class="img img-thumbnail" width="200" height="150" />

                </td>
                <td>@product.ProdName</td>
                <td>₱@product.ProdPrice</td>
                <td>@product.ProdDesc</td>
            </tr>
        }
    </tbody>
</table>
