@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/fail.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

<div class="success_container">
    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="#FF2400" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
    </svg>
    <h1>Your Order Has Been Cancelled!</h1>
    <a class="back_success btn btn-rounded-pill" asp-area="" asp-controller="Product" asp-action="Index">Go Back to Main Page</a>
</div>
